.navbar-expand-md .navbar-nav .navbar-link {
    padding-right: initial;
}

.navbar {
    z-index: 1000;
    
}

.nav-link {
    font-size: 24px;
    font-weight: 700;
}

.active,
.nav-link:hover {
    color: black;
}

.bookshelf {
    text-align: center;
    border-bottom: solid;
}
.cart {
    display: flex;
    padding: 5px;
    font-size: 30px;
    position: relative;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

.cart:hover {
    cursor: pointer;
}

.cart-amount {
    font-size: 15px;
    background-color: red;
    color: white;
    position: absolute;
    padding: 2px 5px;
    top: -7px;
    right: -10px;
    border-radius: 5px;

}

.bi-cart2 {
    color: black
}

.backBtn {
    background-color: #212529;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
}

.main-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 10px;
    position: relative;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.quantity-box {
    display: flex;
    margin-top: 20px;
    width: 80px;
    justify-content: space-between;
}

.bi-x-square {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 3px;

}

@media (max-width: 600px) {
    .cart-item {
        width: 300px
    }

    .item-info {
        margin-right: 0px
    }

    .item-info h5 {
        text-align: right;
    }
}

.purchase-detail {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkout {
    background-color: yellow;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;

}

.remove-all {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}